* {
    margin: 0;
    font-size: 14px;
}
.navbar {
    background-color: #06cc28;
    border: none;
    margin-bottom: 0!important;
    border-radius: 0 !important;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.right-navbar{
    min-width: 80%;
    max-width: 80%;
    margin-left: 3%;
}
#sidebar {
    min-width: 20%;
    max-width: 20%;
    background-color: black;
    padding-bottom: 50%;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: 10%;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background-color: black;
    }
    #sidebar .sidebar-header h3{
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
        #sidebar .sidebar-header label {
            display: inline-block;
            font-size: 1.5rem;
            margin-left: 5%;
        }

        #sidebar ul.components {
            padding: 20px 0;
            border-bottom: 1px solid #47748b;
        }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color:white;
        text-decoration: none;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li a.click,
    a[aria-expanded="true"] {
        color: #fff;
        background: #00b116;
        font-weight: bold;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#homeSubmenu, #pageSubmenu{
    padding-left:20px;
}

